## Final Project Combined Preliminary EDA

In [3]:
# import libraries

import numpy as np
from numpy import errstate,isneginf
import pandas as pd
from time import time
from datetime import datetime
from sklearn.metrics import f1_score
from sklearn.utils import shuffle
import re as re
import matplotlib.ticker as mtick
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
sns.set(style = 'white')

%matplotlib inline

## Installing Reverse Geocoder
This helps us get county and city data against longtitude and latitude zillow data. Source: https://github.com/thampiman/reverse-geocoder

In [5]:
# only need to install one time if new
# !pip install reverse_geocoder
import reverse_geocoder as rg

## Reading in Data

In [6]:
# load the data
train_2016 = pd.read_csv("train_2016_v2.csv")
properties_2016 = pd.read_csv("properties_2016.csv")

C:\Users\ehuang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
# look at train 2016 dataframe
properties_2016.describe(include='all').transpose().sort_values(by='count')

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
storytypeid,1624,NaN,NaN,NaN,7,0,7,7,7,7,7
basementsqft,1628,NaN,NaN,NaN,646.883,538.793,20,272,534,847.25,8516
yardbuildingsqft26,2647,NaN,NaN,NaN,278.297,369.732,10,96,168,320,6141
fireplaceflag,5163,1,True,5163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
architecturalstyletypeid,6061,NaN,NaN,NaN,7.20261,2.43629,2,7,7,7,27
typeconstructiontypeid,6747,NaN,NaN,NaN,5.99956,0.38405,4,6,6,6,13
finishedsquarefeet13,7672,NaN,NaN,NaN,1178.9,357.073,120,960,1296,1440,2688
buildingclasstypeid,12629,NaN,NaN,NaN,3.72595,0.5017,1,3,4,4,5
decktypeid,17096,NaN,NaN,NaN,66,0,66,66,66,66,66
finishedsquarefeet6,22001,NaN,NaN,NaN,2414.34,7695.3,117,1079,1992,3366,952576
poolsizesum,27960,NaN,NaN,NaN,519.711,191.323,19,430,495,594,17410
pooltypeid2,32075,NaN,NaN,NaN,1,0,1,1,1,1,1
pooltypeid10,36939,NaN,NaN,NaN,1,0,1,1,1,1,1
taxdelinquencyflag,56462,1,Y,56462,NaN,NaN,NaN,NaN,NaN,NaN,NaN
taxdelinquencyyear,56464,NaN,NaN,NaN,13.8924,2.58101,0,14,14,15,99
hashottuborspa,69014,1,True,69014,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yardbuildingsqft17,80355,NaN,NaN,NaN,319.803,233.086,10,190,270,390,7983
finishedsquarefeet15,190798,NaN,NaN,NaN,2739.19,5447.43,112,1694,2172,2976,820242
finishedsquarefeet50,202717,NaN,NaN,NaN,1388.94,664.489,3,1013,1284,1618,31303
finishedfloor1squarefeet,202717,NaN,NaN,NaN,1380.63,632.869,3,1012,1283,1615,31303
threequarterbathnbr,311631,NaN,NaN,NaN,1.01001,0.117709,1,1,1,1,7
fireplacecnt,312637,NaN,NaN,NaN,1.16871,0.461273,1,1,1,1,9
pooltypeid7,485459,NaN,NaN,NaN,1,0,1,1,1,1,1
poolcnt,517534,NaN,NaN,NaN,1,0,1,1,1,1,1
numberofstories,682069,NaN,NaN,NaN,1.40146,0.539076,1,1,1,2,41
airconditioningtypeid,811519,NaN,NaN,NaN,1.93117,3.14859,1,1,1,1,13
garagecarcnt,883267,NaN,NaN,NaN,1.82352,0.610035,0,2,2,2,25
garagetotalsqft,883267,NaN,NaN,NaN,383.769,245.443,0,324,441,494,7749
regionidneighborhood,1.1564e+06,NaN,NaN,NaN,193476,165713,6952,46736,118920,274800,764167
heatingorsystemtypeid,1.8064e+06,NaN,NaN,NaN,4.01205,3.29373,1,2,2,7,24
buildingqualitytypeid,1.93849e+06,NaN,NaN,NaN,5.78479,1.80535,1,4,7,7,12
unitcnt,1.97749e+06,NaN,NaN,NaN,1.18117,2.4479,1,1,1,1,997
propertyzoningdesc,1978629,5638,LAR1,275029,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lotsizesquarefeet,2.70912e+06,NaN,NaN,NaN,22822.8,337592,100,5688,7000,9898,3.28264e+08
finishedsquarefeet12,2.70918e+06,NaN,NaN,NaN,1760,971.061,1,1196,1539,2070,290345
fullbathcnt,2.85630e+06,NaN,NaN,NaN,2.24417,0.991205,1,2,2,3,20
calculatedbathnbr,2.85630e+06,NaN,NaN,NaN,2.29926,1.00074,1,2,2,3,20
censustractandblock,2.91009e+06,NaN,NaN,NaN,6.04843e+13,3.24903e+11,-1,6.0374e+13,6.03757e+13,6.05904e+13,4.8303e+14
landtaxvaluedollarcnt,2.91748e+06,NaN,NaN,NaN,252478,445013,1,74836,167042,306918,9.02462e+07
regionidcity,2.92237e+06,NaN,NaN,NaN,34993.4,50727.5,3491,12447,25218,45457,396556
yearbuilt,2.92529e+06,NaN,NaN,NaN,1964.26,23.4413,1801,1950,1963,1981,2015
calculatedfinishedsquarefeet,2.92965e+06,NaN,NaN,NaN,1827.16,1819.78,1,1213,1572,2136,952576
structuretaxvaluedollarcnt,2.93024e+06,NaN,NaN,NaN,170884,402068,1,74800,122590,196889,2.51486e+08
taxvaluedollarcnt,2.94267e+06,NaN,NaN,NaN,420479,726347,1,179675,306086,488000,2.82786e+08
taxamount,2.95397e+06,NaN,NaN,NaN,5377.61,9183.11,1.34,2461.07,3991.78,6201.01,3.45886e+06
regionidzip,2.97124e+06,NaN,NaN,NaN,96552.7,3673.18,95982,96180,96377,96974,399675
propertycountylandusecode,2972940,240,0100,1153896,NaN,NaN,NaN,NaN,NaN,NaN,NaN
roomcnt,2.97374e+06,NaN,NaN,NaN,1.47502,2.8404,0,0,0,0,96
bathroomcnt,2.97376e+06,NaN,NaN,NaN,2.20914,1.07775,0,2,2,3,20
bedroomcnt,2.97377e+06,NaN,NaN,NaN,3.08895,1.27586,0,2,3,4,20
assessmentyear,2.97378e+06,NaN,NaN,NaN,2015,0.0368316,2000,2015,2015,2015,2016
rawcensustractandblock,2.97378e+06,NaN,NaN,NaN,6.04834e+07,200812,6.0371e+07,6.03732e+07,6.03757e+07,6.05904e+07,6.11101e+07
fips,2.97378e+06,NaN,NaN,NaN,6048.03,20.2328,6037,6037,6037,6059,6111
latitude,2.97378e+06,NaN,NaN,NaN,3.40015e+07,243381,3.33244e+07,3.38277e+07,3.40082e+07,3.41619e+07,3.48196e+07
longitude,2.97378e+06,NaN,NaN,NaN,-1.18202e+08,345317,-1.19476e+08,-1.18393e+08,-1.18173e+08,-1.17949e+08,-1.17554e+08
propertylandusetypeid,2.97378e+06,NaN,NaN,NaN,260.048,15.9082,31,261,261,261,275
regionidcounty,2.97378e+06,NaN,NaN,NaN,2570.46,788.071,1286,2061,3101,3101,3101
parcelid,2.98522e+06,NaN,NaN,NaN,1.33259e+07,7.90997e+06,1.07117e+07,1.16437e+07,1.25451e+07,1.40971e+07,1.69602e+08